# dependencies
node_modules/
jspm_packages/
bower_components/

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# runtime data
pids
*.pid
*.seed
*.pid.lock

# coverage
coverage
*.lcov
.nyc_output

# caches
.npm
.eslintcache
.stylelintcache
.cache
.parcel-cache
.svelte-kit/
.fusebox/
.dynamodb/
.firebase/

# build output
dist
out
.next
.nuxt
.temp
.vuepress/dist
**/.vitepress/dist
**/.vitepress/cache
.docusaurus
.serverless/
web-build/

# Expo
.expo/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# local environment files
.env
.env.*
!.env.example
.env*.local

# TypeScript
*.tsbuildinfo

# generated native folders
/ios
/android

# misc
.DS_Store
*.pem
.node_repl_history
.tern-port
.vscode-test
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
